# GitHub Actions Workflow for Landing Zone Terraform Deployment

name: Foundation Resource Deployment

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment_type:
        description: 'environment Type'
        required: true
        type: choice
        options:
          - dev
          - prod
        default: 'dev'

      subscription_type:
        description: 'Subscription Type'
        required: true
        type: string
        default: ''

      deployment_type:
        description: 'Deployment type( foundation or NSG)'
        required: true
        type: choice
        options:
          - foundation
          - NSG
        default: 'foundation'

      environment:
        description: 'Environment'
        required: true
        type: choice
        options:
          - dev
          - prod
        default: 'dev'

      auto_approve:
        description: 'Auto-approve apply (skip manual approval)'
        required: false
        type: boolean
        default: false

permissions:
  contents: read
  id-token: write 
env:
  TF_VERSION: 1.6.6 
  working_directory: 'landingzone/${{ github.event.inputs.deployment_type }}/${{ github.event.inputs.environment_type }}/${{ github.event.inputs.subscription_type }}/${{ github.event.inputs.environment }}'
plan:
    name: 'Terraform Plan'
    runs-on: [self-hosted, group:Default]
    needs: validate

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.ARM_CLIENT_ID }}
          tenant-id: ${{ secrets.ARM_TENANT_ID }}
          subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Init
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform init -input=false
        env:
          ARM_USE_OIDC: true
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}

      - name: Terraform Plan
        working-directory: ${{ env.WORKING_DIR }}
        run: terraform plan  -input=false -out=tfplan
        env:
          ARM_USE_OIDC: true
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}