# GitHub Actions Workflow for Landing Zone Terraform Deployment

name: Foundation Resource Deployment

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment_type:
        description: 'environment Type'
        required: true
        type: choice
        options:
          - dev
          - prod
        default: 'dev'

      subscription_type:
        description: 'Subscription Type'
        required: true
        type: string
        default: ''

      deployment_type:
        description: 'Deployment type( foundation or NSG)'
        required: true
        type: choice
        options:
          - foundation
          - NSG
        default: 'foundation'

      environment:
        description: 'Environment'
        required: true
        type: choice
        options:
          - dev
          - prod
        default: 'dev'

      auto_approve:
        description: 'Auto-approve apply (skip manual approval)'
        required: false
        type: boolean
        default: false

permissions:
  contents: read
  id-token: write 
env:
  TF_VERSION: 1.6.6 
  working_directory: 'landingzone/${{ github.event.inputs.deployment_type }}/${{ github.event.inputs.environment_type }}/${{ github.event.inputs.subscription_type }}/${{ github.event.inputs.environment }}'